body {
    font-family        : 'Nunito', sans-serif;
    line-height        : 26px;
    color              : #2d2c2c;
    font-weight        : 400;
    background-color   : #e3e8ee;
}

a{
    text-decoration    : none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight        : 700;
}

p {
    font-size          : 16px;
} 

.f-20 {
    font-size          : 20px;
}

.avatar-title {
	align-items: center;
	display: flex;
	font-weight: 500;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.avatar-md {
	height: 4.5rem;
	width: 4.5rem;
}

.bg-soft-success {
	background-color: rgba(31, 175, 165, 0.1) !important;
}


.text-success { 
    color           : #0F6D96 !important;   
}

.fa-heart{
    color              : #f55339;
    font-size          : 14px;
}

.fa-eye{
    font-size          : 12px;
    color              : #a1a1a1 ;
}

.account-pages {
	height             : 100vh;
	align-items        : center;
	display            : flex;
}

.auth-head {
	background-image   : url(../images/bg-img-3.png);
	background-size    : cover;
	background-position: center;
}

.bg-overlay-2 {
	background: rgba(32, 20, 20, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	top: 0px;
}

.text-white-50 {
	--bs-text-opacity: 1;
	color: rgba(255,255,255) !important;
}


.btn-success {
	background: #0A4A66 !important;
	border-color: #0A4A66 !important;
} 

.btn-success:hover{
    background      :  #012535 !important;
}

.btn {
	padding            : 0.7rem 1.8rem;
	font-size          : 16px;
	font-weight        : 500;
	transition         : all 0.5s;
	border-radius      : 0px;
}

.btn, .btn:focus, button, button:focus {
	outline            : none !important;
}


.custom-form .form-control {
	padding            : 10px 15px;
}

.form-floating-custom .form-control {
	border-radius      : 0;
}

.form-control:focus {
	box-shadow         : none; 
}






/* Media-Query */

@media (max-width:575px){
    .auth-box {
        padding       : 50px 50px;
    }
    
}

